@inherits ViewPage
@{ViewBag.title = "地图"; }
@section Style{
    <link href="https://cdn.bootcss.com/leaflet/1.2.0/leaflet.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet" />
}
<div id="map"></div>
<div class="province"></div>
<div class="city"></div>
<div class="county"></div>
<div class="town"></div>
<div class="village"></div>

@section Scripts{
    <script src="https://cdn.bootcss.com/leaflet/1.2.0/leaflet.js"></script>
    <script src="https://cdn.bootcss.com/leaflet/1.2.0/leaflet-src.js"></script>
    <script src="~/Scripts/leaflet.ChineseTmsProviders.js"></script>
    <script src="~/Scripts/TdtLoad.js"></script>
    <script src="~/Scripts/StringBuilder.js"></script>
    <script src="~/Scripts/GetAdcdTree.js"></script>
    <script type="text/javascript">
        $(function () {
            //var cun = L.marker(L.latLng(30.2123, 120.25625), { icon: L.icon({ iconUrl: "http://ovsqnadmr.bkt.clouddn.com/p1.png", iconAnchor: new L.Point(9, 9) }) });
            //map.addLayer(cun);//map是在load里面创建好的
            //map.setView([30.277862378, 120.150445125], 10);//这里是设置视野
            $(".province").show();
            $(".province").html("<ul><li class='licss'><b>浙江省</b></li></ul>");
            $(".province ul li").click(function () {                               
                GetAdcdTree(".province","330000000000000");                
            });
        });
    </script>
}